<div class="w-full absolute top-7 font-roboto z-10">
    <div class="mx-28 bg-white rounded-full py-2">
        <nav class="w-full flex items-center justify-between p-2 bg-white-800 text-black ">
            <div class="flex items-center">
              <img src="assets/logo.png" alt="Logo" class="h-13 w-100 ">
            </div>
            <div class="mx-20">
                <ul class="flex space-x-6 flex text-sm ">
                    <li class="bg-[#7453FC] justify-center items-center py-2 px-4 rounded-3xl "><a href="#" class="text-white text-center">Home</a></li>
                    <li class="p-2"><a href="#" class="text-black">Explore</a></li>
                    <li class="p-2"><a href="#" class="text-black">Item Detail</a></li>
                    <li class="p-2"><a href="#" class="text-black">Author</a></li>
                    <li class="p-2"><a href="#" class="text-black">Create Yours</a></li>
                  </ul>
            </div>
          </nav>    
    </div>

</div>

